<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
	<div class="contents">
		
		<aside id="sidebar">
			
			<div id="posts-list">
				<form action="" id="search-form">
				  <a href="/index.html" id="mobile-avatar" style="background-image:url({{ site.avatar }})"></a>
				  <!-- NOTE: input field is disabled by default -->
				  <input id="search-input" type="text" placeholder="Search..." disabled >
				</form>

				<nav id="pl__container">
				{% for post in site.posts %}
				  <a class="{{ post.categories }} pl__all" href="{{ post.url }}"><span class="pl__circle"></span><span class="pl__title">{{ post.title }}</span><span class="pl__date">{{ post.date | date: "%b %Y" }}</span></a>
				{% endfor %}
				</nav>
			</div> <!-- end #posts-list -->
			
	   </aside> <!-- end #sidebar -->
	   
		<div id="post">
		  <div id="pjax">
			{{ content }}
		  </div>
		  <div id="bdfx" class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>
		  <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
		  {% include share.html %}
		</div>
		<button id="js-fullscreen"><span id="icon-arrow" class="fontello"></span></button>	
	</div>

	{% include footer.html %}

	
  </body>

</html>
